
body{
    background-color: #f5f5f5;
}

/* Header */

h4{
    margin-left: 10px;
    margin-top: 10px !important;
    margin-bottom: 25px;
}

/* Modals */

.modal.bottom-sheet {
    max-height: 70%;
    height: 50%;
    width: 88%;
    left: 6%;
}

.modal .modal-content{
    padding: 20px 24px 0px 24px;
}

.modal .modal-footer .btn {
    margin: 6px 15px;
}

#modal-data-paint, #modal-edit-data-paint{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* Cards */

.main-card{
    background-color: white;
    width: 100%;
    height: 500px;
}

.card-main-results{
    height: 640px !important;
    width: 100% !important;
    border-radius: 12px;
}

/* PRELOADERS */

.containerSearchResults{
    border-radius: 8px !important;
}

.card-loading-data{
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: 8px !important;
    position: absolute;
    top: 133px;
    left: 24px;
    height: 460px;
    width: 95.2%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-updating-data-paint, .loading-creating-data-paint{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 30 !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lblUpdatingData{
    font-size: 34px;
    margin-left: 30px !important;
}

/* Selects */
#select-CarBrands, #select-CarBrands2, #txtInitYear_NewPaint, #txtEndYear_NewPaint,
#txtVolumen_NewPaint{
    border: 1px solid lightgray;
}

/* Rows and Cols */
.col-switch-new-car-brand{
    padding-left: 50px !important;
}

.col-select-CarBrands2, .col-select-initYear-new-car-brand, .col-select-endYear-new-car-brand{
    margin-top: -2px !important;
}

/* Rows */

/* Buttons */

.btn-enable-edit-data-paint{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 20 !important;
}

.btn{
    text-transform: none !important;
}

.btn-close-modal-paint-data{
    margin-left: 25px !important;
    text-transform: none !important;
}

.btn-save-changes-paint-data{
    margin-right: 30px !important;
    text-transform: none !important;
}

.row-btnRegister{
    margin-top: -5px !important;
    margin-bottom: 10px !important;
}

.border-rounded{
    border-radius: 8px !important;
}

/*
.btn, .btn-small{
    text-transform: none !important;
}*/

.btn-clear-filters{
    margin-right: 5px;
    width: 40px;
    padding-left: 10px;
    text-transform: none !important;
}

.btn-clear-filters .material-icons{
    margin-right: 0 !important;
}

.btn-search, .btn-clear-filters{
    top: 35px;
    text-transform: none !important;
}

.btn-add-register{
    top: 0px;
    text-transform: none !important;
}

.col-Num, .col-CarBrand, .col-PaintCode,.col-PaintName,.col-ModelCar,.col-Layer,.col-Stock{
    background-color: rgba(1, 87, 155, 1);
    color: white;
    font-weight: 400;
    border-radius: 0 !important;
}

/* Table css */

table thead tr th{
    padding-top: 5px;
    padding-bottom: 5px;
}

table tbody tr td{
    padding-top: 5px;
    padding-bottom: 5px;
}

table tbody tr:hover{
    cursor: pointer;
}

.table-onlyHeaders{
    z-index: 10;
    overflow: hidden;
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.table-onlyBody{
    border: 1px solid lightgrey;
    overflow-y: scroll;
    z-index: 5;
    height: 420px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.col-Num, .row-Num{
    width: 5%;
    text-align: center;
}

.col-CarBrand, .row-CarBrand{
    /* background-color: antiquewhite; */
    padding-left: 10px;
    width: 15%;
} 

.col-PaintCode, .row-PaintCode{
    /* background-color: aqua; */
    width: 30%;
}

.col-PaintName, .row-PaintName{
    /* background-color: aquamarine; */
    width: 25%;
} 

.col-ModelCar, .row-ModelCar{
    /* background-color: beige; */
    text-align: center;
    width: 15%;
}

.col-Layer, .row-Layer{
    /* background-color: burlywood; */
    width: 5%;
}

.col-Stock, .row-Stock{
    /* background-color: cadetblue; */
    width: 5%;
}

/* Labels and text */
.contianerNumRegisters{
    margin-top: -15px;
    margin-bottom: 5px;
}

.idPaintRegister{
    display: none;
}

.lblVersion{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 15px;
    color: white;
}

.lblNewCarBrand{
    margin: 0px 1px 20px 1px !important
}

.lblTitleModal_PaintInformation{
    width: 80% !important;
}

/* Switch */
.switch-new-car-brand-margin{
    margin: 6px 5px 10px 5px !important;
}

/* RESPONSIVE */

/* Smartphones */
@media only screen and (min-width: 20px) and (max-width: 600px) {
    .btn-search, .btn-clear-filters{
        top: 0px !important;
    }

    #select-CarBrands{
        height: 35px !important;
    }

    .table-onlyBody{
        overflow-y: scroll;
        z-index: 5;
        height: 380px !important;
    }

    /* TABLA DE RESULTADOS DE LA BÚSQUEDA */
    .table-onlyBody{
        overflow-y: scroll !important;
    }

    /* ========================================================================================= */

    /* MODAL PARA AGREGAR PINTURAS */
    .col-switch-new-car-brand{
        padding-left: 20px !important;
    }

    .modal.bottom-sheet {
        max-height: 85%;
        height: 85%;
        width: 96%;
        left: 2%;
    }

    #txtInitYear_NewPaint{
        margin-bottom: 0px !important;
    }

    .loading-updating-data-paint, .loading-creating-data-paint{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 30 !important;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lblUpdatingData{
        width: 55% !important;
        font-size: 24px;
    }

    /*==================================================*/
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .card {
      background: #bada55;
    }
}

/* Laptops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .card {
      background: #bada55;
    }
}

/* PC */
@media only screen and (min-width: 1200px) and (max-width: 3000px) {
    .card {
      background: #bada55;
    }
}
